/*Extra Small Devices*/

/*xsm (320-480)*/

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .topbar {
        padding-bottom: 15px;
    }
    .topbar span {
        font-size: 10px;
    }
    .navbar-brand img {
        width: 140px;
    }
    .navbar-nav .nav-item {
        padding: 2px 0px;
        text-align: center;
    }
    .header-content {
        margin-top: 20px;
    }
    .header-content p {
        font-size: 12px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 10% 0px;
    }
    .header-content h1 {
        font-size: 45px;
        text-align: center;
    }
    .header-content h3 {
        font-size: 30px;
        text-align: center;
    }
    .header-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-image img {
        width: 86%;
    }
    @media only screen and (min-width: 375px) {
        .header-image img {
            width: 53%;
        }
    }


    
}

/*Small Devices*/

/*sm (481-767)*/

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .navbar-brand img {
        width: 140px;
    }
    .topbar span {
        font-size: 10px;
    }
    .topbar {
        text-align: center !important;
        padding-bottom: 15px;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
    .header-content {
        margin-top: 20px;
    }
    .header-content p {
        font-size: 12px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0 10% 0px;
    }
    .header-content h1 {
        font-size: 48px;
        text-align: center;
    }
    .header-content h3 {
        font-size: 28px;
        text-align: center;
    }
    .header-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header-image img {
        width: 55%;
        margin-top: -20px;
    }
}

/*Medium Devices*/

/*md (768-991)*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .topbar {
        padding-bottom: 15px;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
    .header-content p {
        font-size: 15px;
    }
    .header-content h1 {
        font-size: 68px;
    }
    .header-content h3 {
        font-size: 41px;
    }
}

/*large Devices*/

/*lg (992-1199)*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/*Extra large Devices*/

/*xlg (1200-1400)*/

@media only screen and (min-width: 1200px) and (max-width: 1400px) {}